@font-face {
	font-display: swap;
	font-family: 'Geist';
	font-style: normal;
	font-weight: 300;
	src: url('../../../frontend-packages/ui/src/fonts/geist-v4-latin_latin-ext-300.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Geist';
	font-style: normal;
	font-weight: 400;
	src: url('../../../frontend-packages/ui/src/fonts/geist-v4-latin_latin-ext-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Geist';
	font-style: normal;
	font-weight: 500;
	src: url('../../../frontend-packages/ui/src/fonts/geist-v4-latin_latin-ext-500.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Geist';
	font-style: normal;
	font-weight: 600;
	src: url('../../../frontend-packages/ui/src/fonts/geist-v4-latin_latin-ext-600.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Geist';
	font-style: normal;
	font-weight: 700;
	src: url('../../../frontend-packages/ui/src/fonts/geist-v4-latin_latin-ext-700.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Geist';
	font-style: normal;
	font-weight: 800;
	src: url('../../../frontend-packages/ui/src/fonts/geist-v4-latin_latin-ext-800.woff2') format('woff2');
}
