@import url("@azayaka-frontend/ui/src/fonts.css");

@media print {
    @page {
        margin: 0;
        size: A4 portrait;
    }

    * {
        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;
    }
}

body {
    font-family: "Geist", sans-serif;
    padding: 0;
    margin: 0;
}

.code {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: max-content;
    gap: 2px 25px;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.code li {
    min-width: 135px;
    font-weight: bold;
}

.access {
    height: 33%;
    padding: 0.75cm 1cm;
    border-bottom: 1px dashed black;
    break-inside: avoid;
    box-sizing: border-box;
}

.access:nth-child(3n) {
    border: none;
}

h1 {
    margin: 0.3cm 0;
}

h2 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
}

.role {
    padding: 5px 8px;
    background: black;
    color: white;
    border-radius: 4px;
    margin-right: 6px;
}

p {
    margin: 0.8em 0;
}
